name: "Create cluster using KinD"
on: [pull_request, push]

jobs:
  kind:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v3.1.0
        with:
          cache: npm

      - run: npm install

      - run: npm run build

      - name: "Run engineerd/setup-kind@${{github.sha}}"
        uses: ./

      - run: kubectl cluster-info

      - run: kubectl version

      - run: kubectl get pods -n kube-system
